<div id="main">
		<div class="hot-p2p-web">
			<div class="hd">
			</div>
			<!-- 人气速贷网站 -->
			<div class="bd Fix">
				
						<div class="hot-url-index">
							<!-- item -->
							<span class="hot"></span>
							<a class="url" target="_blank" href="http://www.sudai114.com/detail-948-beijing.html" title="速贷114">速贷114</a>
						    <span id="levelId" attrvalue="948" class="item-rank-rst margin-top irr-star4"></span>
						  <div class="tips-star">
								<ul leveid="13">
								 <li><span class="title">综合评价：</span><span id="overAllLeverid" title="" class="item-rank-rst margin-top-2 irr-star1"></span></li>
								 <li><span class="title">成功评价：</span><span id="successLevelid" title="" class="item-rank-rst margin-top-2 irr-star1"></span></li>
								 <li><span class="title">人气评价：</span><span id="popularityLevelid" title="" class="item-rank-rst margin-top-2 irr-star1"></span></li>
								 <li><span class="title">利率评价：</span><span id="interestLevelid" title="" class="item-rank-rst margin-top-2 irr-star1"></span></li>
							  </ul>
						 	   <img src="/assets/arrow-left.png">
						   </div>	
						</div>
				
						<div class="hot-url-index">
							<span class="hot">精品</span>
							<a class="url" target="_blank" href="http://www.sudai114.com/detail-23-beijing.html" title="拍拍贷">
							拍拍贷</a>
						    <span id="levelId" attrvalue="23" class="item-rank-rst margin-top irr-star5"></span>
						    <div class="tips-star">
							<ul leveid="13">
							 <li><span class="title">综合评价：</span><span id="overAllLeverid" title="" class="item-rank-rst margin-top-2 irr-star1"></span></li>
							 <li><span class="title">成功评价：</span><span id="successLevelid" title="" class="item-rank-rst margin-top-2 irr-star1"></span></li>
							 <li><span class="title">人气评价：</span><span id="popularityLevelid" title="" class="item-rank-rst margin-top-2 irr-star1"></span></li>
							 <li><span class="title">利率评价：</span><span id="interestLevelid" title="" class="item-rank-rst margin-top-2 irr-star1"></span></li>
						   </ul>
						 	 <img src="/assets/arrow-left.png">
						   </div>	
						</div>
				
					
				
							
			</div>
		</div>
		<div class="i-want-borrow ui-tabs" id="tabs">
			<div class="hd">
				<ul class="selector">
					<li class="ui-tabs-selected ui-state-active">
						<a href="#tabs-1">人气最高</a>
					</li>
					<li>
						<a href="#tabs-2">利率最低</a>
					</li>
					<li><a href="#tabs-3">成功率高</a></li>
				</ul>
			</div>
			<div class="bd">
				<div id="tabs-1" class="">
					
						<div class="web-list-index">
							<span class="hot">精品</span>
							<a href="http://www.sudai114.com/detail-52-shenzhen.html" target="_blank" class="url" title="卡宝宝网">卡宝宝网</a>
						</div>
					
						<div class="web-list-index">
							
							<a href="http://www.sudai114.com/detail-52-shenzhen.html" target="_blank" class="url" title="卡宝宝网">卡宝宝网</a>
						</div>
					
					
				</div>
				<div id="tabs-2" class="ui-tabs-hide">
					
						
					
						<div class="web-list-index">
							<span class="hot">精品</span>
							<a href="http://www.sudai114.com/detail-81-beijing.html" target="_blank" class="url" title="森强担保">森强担保</a>
						</div>
					
				</div>
				<div id="tabs-3" class="ui-tabs-hide">
					
						
					
						<div class="web-list-index">
							<span class="hot">精品</span>
							<a href="http://www.sudai114.com/detail-102-shanghai.html" target="_blank" class="url" title="你我贷">你我贷</a>
						</div>
					
				</div>
			</div>
			<%= image_tag "img_i_borrow.png", :alt => "我要借", :class => "img" %>
		
		</div>
		<div class="i-want-borrow ui-tabs" id="tabsTwo">
			<div class="hd">
				<ul class="selector">
					<li class="ui-tabs-selected ui-state-active"><a href="#tabs-4">人气最高</a></li><li class=""><a href="#tabs-5">利率最低</a></li><li><a href="#tabs-6">成功率高</a></li>
				</ul>				
			</div>
			<div class="bd">
				<div id="tabs-4" class="">
					
					
						<div class="web-list-index">
							<span class="hot">精品</span>
							<a href="http://www.sudai114.com/detail-62-shanghai.html" target="_blank" class="url" title="易融网">易融网</a>
						</div>
					
				</div>
				<div id="tabs-5" class="ui-tabs-hide">
					
					
					
						<div class="web-list-index">
							
							<a href="http://www.sudai114.com/detail-277-hefei.html" target="_blank" class="url" title="无忧易贷">无忧易贷</a>
						</div>
					
				</div>	
				<div id="tabs-6" class="ui-tabs-hide">
					
				
					
						<div class="web-list-index">
							<span class="hot">精品</span>
							<a href="http://www.sudai114.com/detail-948-beijing.html" target="_blank" class="url" title="速贷114">速贷114</a>
						</div>
					
				</div>							
			</div>
			<div class="scott pages">
				<span class="disabled"> < </span>
				<span class="current">1</span>
				<a href="#?page=2">2</a>
				<a href="#?page=3">3</a>
				<a href="#?page=4">4</a>
				<a href="#?page=5">5</a>
				<a href="#?page=2"> > </a>
				<span class="counts">共3123页</span>
				<span class="counts">11123条记录</span>
			</div>
			<img class="img" src="/assets/img_i_lend.png" alt="我要贷">
		</div>


		<!-- 速贷网站搜索 -->
		<div class="p2p-web-search">
			<div class="hd">
				<form id="searchForm" name="searchForm" action="http://www.sudai114.com/quanguo" method="GET" target="_self">
					<div class="search-group">
						<select id="recommendLevel" name="recommendLevel">
							<option value="0" selected="selected">全部等级</option>
							<option value="1">1星级及以上</option>
							<option value="2">2星级及以上</option>
							<option value="3">3星级及以上</option>
							<option value="4">4星级及以上</option>
							<option value="5">5星级及以上</option>
						</select>
						<button type="submit" class="btn-green-1">搜&nbsp;索</button>
					</div>
				</form>
			</div>
			
			<div class="bd">
				
					
				
				
					<div class="search-box">
						<div class="top">
							<span class="title">盼贷</span>
						</div>
						<div class="middle">
							<table class="p2p-property">
								<tbody>
									<tr>
										<td class="name">成立时间:</td><td class="info">2011年</td>
									</tr>
									<tr>
										<td class="name">正在招标数量:</td><td class="info">500个</td>
									</tr>
									<tr>
										<td class="name">普遍年利率:</td><td class="info">0.2</td>
									</tr>
									<tr>
										<td class="name">客服电话:</td><td class="info">010-52499583</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="foot">
							<span class="title">推荐等级:</span><span class="item-rank-rst irr-star5"></span><button type="button" class="btn-look" onclick="openWebsite(&#39;http://www.sudai114.com/detail-953-beijing.html&#39;);">去看看</button>
						</div>
						<img class="recommend" src="/assets/icon_recommend.gif">
					</div>
								
				<div class="scott pages"><span class="disabled"> &lt; </span> <span class="current">1</span> <a href="search-quanguo-0-2.html">2</a> <a href="search-quanguo-0-3.html">3</a> <a href="search-quanguo-0-4.html">4</a> <a href="search-quanguo-0-5.html">5</a> <a href="search-quanguo-0-2.html"> &gt; </a> <span class="counts">共77页</span> <span class="counts">690条记录</span> </div>
			</div>
		</div>
	</div>
